In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df.head()

,carID,Brand,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
0,69512,VW,Golf,2016.0,22290,Semi-Auto,28421.0,Petrol,NaN,11.417268,2.0,63.0,4.000000,0.0
1,53000,Toyota,Yaris,2019.0,13790,Manual,4589.0,Petrol,145.0,47.900000,1.5,50.0,1.000000,0.0
2,6366,Audi,Q2,2019.0,24990,Semi-Auto,3624.0,Petrol,145.0,40.900000,1.5,56.0,4.000000,0.0
3,29021,Ford,FIESTA,2018.0,12500,anual,9102.0,Petrol,145.0,65.700000,1.0,50.0,-2.340306,0.0
4,10062,BMW,2 Series,2019.0,22995,Manual,1000.0,Petrol,145.0,42.800000,1.5,97.0,3.000000,0.0

In [4]:
df.describe()

,carID,year,price,mileage,tax,mpg,engineSize,paintQuality%,previousOwners,hasDamage
count,75973.000000,74482.000000,75973.000000,74510.000000,68069.000000,68047.000000,74457.000000,74449.000000,74423.000000,74425.0
mean,37986.000000,2017.096611,16881.889553,23004.184088,120.329078,55.152666,1.660136,64.590667,1.994580,0.0
std,21931.660338,2.208704,9736.926322,22129.788366,65.521176,16.497837,0.573462,21.021065,1.472981,0.0
min,0.000000,1970.000000,450.000000,-58540.574478,-91.121630,-43.421768,-0.103493,1.638913,-2.345650,0.0
25%,18993.000000,2016.000000,10200.000000,7423.250000,125.000000,46.300000,1.200000,47.000000,1.000000,0.0
50%,37986.000000,2017.000000,14699.000000,17300.000000,145.000000,54.300000,1.600000,65.000000,2.000000,0.0
75%,56979.000000,2019.000000,20950.000000,32427.500000,145.000000,62.800000,2.000000,82.000000,3.000000,0.0
max,75972.000000,2024.121759,159999.000000,323000.000000,580.000000,470.800000,6.600000,125.594308,6.258371,0.0

In [5]:
df.describe(include = 'O')

        Brand   model transmission fuelType
count   74452   74456        74451    74462
unique     72     735           40       34
top      Ford   Focus       Manual   Petrol
freq    14808    6353        38050    37995

In [6]:
df['Brand'].unique()

array(['VW', 'Toyota', 'Audi', 'Ford', 'BMW', 'Skoda', 'Opel', 'Mercedes',
       'FOR', 'mercedes', 'Hyundai', 'w', 'ord', 'MW', 'bmw', nan,
       'yundai', 'BM', 'Toyot', 'udi', 'Ope', 'AUDI', 'V', 'opel', 'pel',
       'For', 'pe', 'Mercede', 'audi', 'MERCEDES', 'OPEL', 'koda', 'FORD',
       'Hyunda', 'W', 'Aud', 'vw', 'hyundai', 'skoda', 'ford', 'TOYOTA',
       'ercedes', 'oyota', 'toyota', 'SKODA', 'Skod', 'HYUNDAI', 'kod',
       'v', 'for', 'SKOD', 'aud', 'KODA', 'PEL', 'yunda', 'or', 'UDI',
       'OYOTA', 'HYUNDA', 'mw', 'OPE', 'mercede', 'ERCEDES', 'ercede',
       'TOYOT', 'MERCEDE', 'ORD', 'ud', 'ope', 'AUD', 'hyunda', 'skod',
       'toyot'], dtype=object)

### Clean the data

In [7]:
### Starting with Brand
df['Brand'] = df['Brand'].str.lower()
df['model'] = df['model'].str.lower()

In [8]:
df['Brand'].unique()

array(['vw', 'toyota', 'audi', 'ford', 'bmw', 'skoda', 'opel', 'mercedes',
       'for', 'hyundai', 'w', 'ord', 'mw', nan, 'yundai', 'bm', 'toyot',
       'udi', 'ope', 'v', 'pel', 'pe', 'mercede', 'koda', 'hyunda', 'aud',
       'ercedes', 'oyota', 'skod', 'kod', 'yunda', 'or', 'ercede', 'ud'],
      dtype=object)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 75973 entries, 0 to 75972
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   carID           75973 non-null  int64
 1   Brand           74452 non-null  object
 2   model           74456 non-null  object
 3   year            74482 non-null  float64
 4   price           75973 non-null  int64
 5   transmission    74451 non-null  object
 6   mileage         74510 non-null  float64
 7   fuelType        74462 non-null  object
 8   tax             68069 non-null  float64
 9   mpg             68047 non-null  float64
 10  engineSize      74457 non-null  float64
 11  paintQuality%   74449 non-null  float64
 12  previousOwners  74423 non-null  float64
 13  hasDamage       74425 non-null  float64
dtypes: float64(8), int64(2), object(4)
memory usage: 8.1+ MB

In [10]:
test = df.copy()

In [11]:
import difflib

In [12]:
df.loc[df['Brand'].isna()]
df['model'].unique()

array([' golf', ' yaris', ' q2', ' fiesta', ' 2 series', '3 series',
       ' a3', ' octavia', ' passat', ' focus', ' insignia', ' a clas',
       ' q3', ' fabia', ' a class', ' ka+', ' 3 series', ' glc class',
       ' i30', ' c class', ' polo', ' e class', ' c clas', ' q5', ' up',
       ' c-hr', ' mokka x', ' corsa', ' astra', ' tt', ' 5 series',
       ' aygo', ' 4 series', ' slk', ' viva', ' t-roc', 'focus',
       ' ecosport', ' tucson', ' ecospor', nan, ' x-class', ' cl class',
       ' ix20', ' i20', ' rapid', ' a1', ' auris', ' sharan', ' adam',
       ' x3', ' a8', ' gls class', ' b-max', ' a4', ' kona', ' i10',
       ' mokka', ' s-max', ' x2', ' crossland x', ' tiguan', ' a5',
       ' gle class', ' zafira', ' ioniq', ' a6', ' mondeo',
       ' yeti outdoor', ' x1', 'polo', ' scala', ' s class', ' 1 series',
       ' kamiq', ' kuga', ' tourneo connect', ' q7', ' gla class',
       ' arteon', ' sl class', 'tucson', ' santa fe', ' grandland x',
       ' i800', ' rav4', ' touran', ' citigo', ' focu', ' roomster',
       ' prius', ' corolla', ' fiest', ' b class', ' q', ' kodiaq',
       ' v class', ' e clas', ' caddy maxi life', ' superb', ' astr',
       ' getz', 't-roc', ' combo life', ' beetle', 'fabia', ' galaxy',
       ' m3', ' gtc', '1 series', ' x4', 'golf', 'auris', ' ka', ' ix35',
       ' 3 serie', 'e class', ' grand tourneo connect', ' shara', ' m4',
       ' tourneo custom', 'touran', '5 series', ' z4', ' 2 serie', ' x5',
       ' meriva', ' octavi', ' kug', ' rs6', ' verso', ' touareg',
       ' shuttle', ' cls class', ' c-max', ' mokka ', ' puma',
       ' cla class', ' i40', 'x5', ' tiguan allspace', ' 6 series',
       ' caravelle', ' karoq', ' i3', 'a4', ' mokk', 'ka+',
       ' grand c-max', ' pol', ' t-cross', ' 4 serie', 'astra', 'q3',
       ' a7', ' gle clas', ' golf sv', 'a class', ' a', ' 1 serie',
       ' gol', ' agila', ' ayg', ' gt86', 'c class', ' yeti',
       ' california', '4 series', ' x', 'a5', 'touareg', ' land cruiser',
       ' edge', ' 5 serie', ' x6', 'toura', 'karoq', ' caddy life',
       ' 8 series', 'glc class', ' fusion', ' gl class', ' scirocco',
       ' z3', ' sl clas', ' kodia', '2 series', ' proace verso', ' hilux',
       ' passa', 'gla class', ' amarok', 'cla class', ' cc', ' insigni',
       ' 7 series', 'q5', ' avensis', 'meriva', ' eos', ' m class',
       'yaris', 'a1', ' grandland ', 'mondeo', 'corsa', ' zafira tourer',
       ' rs5', 'tiguan', 'a3', ' r8', ' mustang', ' v clas', 'gle class',
       ' tigua', ' i1', ' b-ma', 'grandland x', 'viva', 'kuga', ' antara',
       ' q8', ' t-ro', ' camry', ' rapi', 'fiesta', 'rav4', ' clk',
       'mokka x', ' rs3', ' jetta', 'golf sv', ' kadjar', ' cors',
       ' zafira toure', 'u', 'a6', ' yari', ' sq5', ' b clas', 'mokka',
       'prius', ' citig', ' s-ma', ' rs4', ' supra', ' tucso', ' i8',
       ' x7', ' galax', ' super', ' sq7', ' g class', ' c-h', ' x-clas',
       'i10', ' glc clas', ' s3', 'insignia', 'focu', 'i40', ' i80',
       'zafira', ' crossland ', 'b-max', ' arteo', ' tigra', ' escort',
       ' glb class', ' monde', ' gla clas', ' cl clas', ' vivaro',
       ' verso-s', 'gtc', ' 7 serie', 'adam', ' ioni', ' t-cros',
       'passat', ' viv', ' m5', '2 serie', ' veloste', 'superb',
       ' santa f', 'aygo', ' zafir', 'octavia', 'c-max', ' s4',
       ' yeti outdoo', ' auri', 'citigo', ' fabi', ' iq', 'rav', ' a2',
       'hilux', ' caddy maxi', '200', 'sl class', 'up', 'ioniq', 'q8',
       ' u', 'arteon', 'q7', ' streetka', ' roomste', 'scala', ' kami',
       ' caddy', 'z4', 'b class', ' cascada', 'c-hr', 'kodiaq', 'b-ma',
       ' c-ma', ' accent', 'cls class', 'tt', ' karo', ' kon', 'octavi',
       ' scirocc', 's class', ' s8', ' rs', 'q2', 'c clas', 'kona', 'x2',
       ' golf s', ' rav', ' k', ' s clas', ' grand c-ma', ' toura',
       's-max', 'm3', ' beetl', 'i20', 'mustang', 'x1', 'santa fe',
       'ecosport', 'beetle', ' ada', 'slk', ' z', ' cls clas', 'amarok',
       ' ranger', 'crossland x', 'x6', 'fiest', ' i2', 'scirocco',
       ' grand tourneo connec', ' m', 'rs6', ' meriv', 'zafir',
       ' caravell', 'pol', 'verso', '220', 'a8', ' vectra',
       ' tiguan allspac', 'sharan', 'insigni', 'tourneo connect', ' scal',
       ' 8 serie', '230', 'galaxy', ' ampera', 't-cross', ' fox',
       'fusion', ' urban cruiser', ' gls clas', ' amaro', 'i30', 'arteo',
       ' m2', ' t', 'm class', 'tigua', '6 series', ' coroll',
       ' combo lif', 'golf s', 'roomster', 'cc', ' caddy maxi lif', 'x7',
       'x3', ' m clas', 'z3', 'supra', 'yari', ' touare', 'cl class',
       'yeti outdoor', ' s5', 'combo life', ' tourneo custo', ' edg',
       'tucso', 'a7', ' yet', 'i3', ' ix2', 'corolla', ' sl', ' i',
       'vectra', ' clc class', 'ka', ' m6', 'clk', 'gol', ' hilu', 'm5',
       'mokka ', '3 serie', 'ix35', 'v class', ' urban cruise', 'rapid',
       'r8', 'mokk', ' 6 serie', ' land cruise', 'grand c-max', 'rs3',
       'yeti', 'gl class', 'ix20', ' vers', ' terracan', 'zafira tourer',
       'avensis', 'x4'], dtype=object)

In [13]:
 pip install thefuzz

Requirement already satisfied: thefuzz in /Users/tiagoanastacio/anaconda3/lib/python3.11/site-packages (0.22.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.0.0 in /Users/tiagoanastacio/anaconda3/lib/python3.11/site-packages (from thefuzz) (3.14.1)
Note: you may need to restart the kernel to use updated packages.

In [14]:
from thefuzz import process, fuzz

In [15]:
correct_brands = ['bmw', 'toyota', 'audi', 'ford', 'skoda', 'opel', 'mercedes', 'hyundai','vw']
a =df[['Brand']].copy()
a[['best_match','score']] = a['Brand'].apply(
    lambda x: pd.Series(process.extractOne(x, correct_brands, scorer=fuzz.WRatio))
              if pd.notna(x) and x != '' else pd.Series([np.nan, np.nan]))
a['Brand_clean'] = np.where(a['score'] >= 90, a['best_match'], a['Brand'])

In [16]:
a[a['score'] != 100]

        Brand best_match  score Brand_clean
18        for       ford   86.0         for
24          w        bmw   90.0         bmw
29        ord       ford   86.0         ord
40         mw        bmw   90.0         bmw
56        NaN        NaN    NaN         NaN
...       ...        ...    ...         ...
75880     for       ford   86.0         for
75893     aud       audi   86.0         aud
75925       v         vw   90.0          vw
75926     NaN        NaN    NaN         NaN
75943  yundai    hyundai   92.0     hyundai

[4457 rows x 4 columns]

In [17]:
from thefuzz import process, fuzz
import numpy as np
import pandas as pd

correct_brands = ['bmw','toyota','audi','ford','skoda','opel','mercedes','hyundai','vw']

a = df[['Brand']].copy()
a['brand_norm'] = a['Brand'].astype(str).str.lower().str.strip()

def top2_matches(x):
    if pd.isna(x) or x == '':
        return [(np.nan, np.nan), (np.nan, np.nan)]
    res = process.extract(x, correct_brands, limit=2, scorer=fuzz.WRatio)
    # guarantee exactly 2 pairs (choice, score)
    res = (res + [(np.nan, np.nan)]*2)[:2]
    return res

top2 = a['brand_norm'].apply(top2_matches)

# unpack into four columns: match1, score1, match2, score2
a[['match1','score1','match2','score2']] = pd.DataFrame(
    [(r[0][0], r[0][1], r[1][0], r[1][1]) for r in top2],
    index=a.index
)

# optional: cleaned brand using the best match above a threshold
THRESH = 90
a['Brand_clean'] = np.where(a['score1'] >= THRESH, a['match1'], a['Brand'])

In [18]:
a.loc[[]]

Empty DataFrame
Columns: [Brand, brand_norm, match1, score1, match2, score2, Brand_clean]
Index: []

In [19]:
z = a.query('(score1 > 80 and score2 <= 60) or (score1 == 100) ' ).index


df['best_match'] = pd.NA
df.loc[z, 'best_match'] = a['match1']
df[['best_match', 'Brand']]
f = df.loc[df['best_match'].isnull()].index
f
h = a.loc[f]
h
j = h.loc[h['Brand'].notnull(), 'Brand']
j

24       w
767      w
1215     w
1582     w
1713     w
        ..
74404    w
74814    w
75026    w
75092    w
75238    w
Name: Brand, Length: 208, dtype: object

In [20]:
df[df['best_match'].notnull()].count()

carID             74244
Brand             74244
model             72766
year              72787
price             74244
transmission      72764
mileage           72806
fuelType          72769
tax               66512
mpg               66489
engineSize        72769
paintQuality%     72757
previousOwners    72727
hasDamage         72734
best_match        74244
dtype: int64

In [21]:
m = df[df['Brand'].isnull()]
len(m[m['model'].isnull()])

36

In [22]:
############### EU ###############

In [23]:
correct_models = {}

for brand in correct_brands:
    models_series = df.loc[df['Brand'] == brand, 'model'].value_counts()
    top_models = models_series[models_series > 50].index.tolist()  # Threshold = 50 aparições
    correct_models[brand] = top_models
    print(f"Brand: {brand}")
    print("Correct models:", top_models)

Brand: bmw
Correct models: [' 3 series', ' 1 series', ' 2 series', ' 5 series', ' 4 series', ' x1', ' x3', ' x5', ' x2', ' x4', ' m4', ' 6 series', ' z4', ' x6', ' 7 series']
Brand: toyota
Correct models: [' yaris', ' aygo', ' auris', ' c-hr', ' rav4', ' corolla', ' prius', ' verso', ' avensis']
Brand: audi
Correct models: [' a3', ' q3', ' a1', ' a4', ' q5', ' a5', ' q2', ' a6', ' q7', ' tt', ' a', ' a7', ' a8']
Brand: ford
Correct models: [' focus', ' fiesta', ' kuga', ' ecosport', ' c-max', ' ka+', ' mondeo', ' b-max', ' s-max', 'focus', ' ka', ' grand c-max', ' galaxy', ' edge', ' focu', 'fiesta', ' fiest']
Brand: skoda
Correct models: [' fabia', ' octavia', ' superb', ' yeti outdoor', ' citigo', ' kodiaq', ' karoq', ' scala', ' kamiq', ' rapid', ' yeti']
Brand: opel
Correct models: [' corsa', ' astra', ' mokka x', ' insignia', ' mokka', ' crossland x', ' grandland x', ' zafira', ' adam', ' viva', ' meriva', ' combo life', ' gtc']
Brand: mercedes
Correct models: [' c class', ' a class', ' e class', ' glc class', ' gla class', ' b class', ' cl class', ' gle class', ' sl class', ' cls class', ' v class', ' s class', 'c class', ' c clas', ' gl class', ' slk', ' cla class', ' x-class']
Brand: hyundai
Correct models: [' tucson', ' i10', ' i30', ' i20', ' kona', ' ioniq', ' santa fe', ' ix20', ' i40', ' ix35', ' i800']
Brand: vw
Correct models: [' golf', ' polo', ' tiguan', ' passat', ' up', ' t-roc', ' touareg', ' touran', ' t-cross', ' sharan', ' golf sv', ' arteon', ' scirocco', ' amarok', ' gol', ' caravelle', 'golf', ' tiguan allspace', ' cc']

In [ ]:
#número de carros por marca
brand_counts = df['best_match'].value_counts()

print(brand_counts)

ford        16063
mercedes    11674
vw          10177
opel         9352
bmw          7392
audi         7325
toyota       4622
skoda        4303
hyundai      3336
Name: best_match, dtype: int64

In [27]:
#BMW -> 7392 carros
correct_models_bmw = ['1 series','2 series', '3 series', '4 series', '5 series', '6 series', '7 series',
                      'x1','x2','x3', 'x4', 'x5', 'x6', 'm4','z4']
a = df.loc[df['Brand'] == 'bmw', ['model']].copy()
a[['best_match','score']] = a['model'].apply(
    lambda x: pd.Series(process.extractOne(x, correct_models_bmw, scorer=fuzz.WRatio))
              if pd.notna(x) and x != '' else pd.Series([np.nan, np.nan]))
a['model_clean'] = np.where(a['score'] >= 90, a['best_match'], a['model'])

In [ ]:
a[a['score'] == 100] #6667 carros tratados (725 por tratar)

           model best_match  score model_clean
4       2 series   2 series  100.0    2 series
5       3 series   3 series  100.0    3 series
17      3 series   3 series  100.0    3 series
42      3 series   3 series  100.0    3 series
48      4 series   4 series  100.0    4 series
...          ...        ...    ...         ...
75915         x3         x3  100.0          x3
75922   1 series   1 series  100.0    1 series
75937         x3         x3  100.0          x3
75938   3 series   3 series  100.0    3 series
75942         x4         x4  100.0          x4

[6667 rows x 4 columns]