In [1]:
print("hello world")

hello world

In [2]:
my_string = "Tiago"

In [4]:
print(f"Hello my name is {my_string}")

Hello my name is Tiago

In [9]:
print("Hello my name is " + my_string)

Hello my name is Tiago

In [11]:
print("Hello I am",25+2,"years old")
#My age

Hello I am 27 years old

In [12]:
my_list = [1,2,True,4,5,None,"Apple"]

In [13]:
my_list[0]

1

In [14]:
my_tuple = (1,2)

In [15]:
my_tuple [0] = 3

TypeError: 'tuple' object does not support item assignment

In [16]:
1 > 2

False

In [18]:
4 % 2 == 0

True

In [19]:
my_dict = {"jan":1,"apr":4,"jun":6}

In [20]:
my_dict.keys()

dict_keys(['jan', 'apr', 'jun'])

In [21]:
my_dict.values()

dict_values([1, 4, 6])

In [22]:
my_dict["jan"]

1