# Programming for Data Science

## Introduction Lab

### Variables, Operators, and Data Structures


<b>1</b>: In the following cell we have declared multiple variables. Can you identify the type of each variable?

In [1]:
a = 15
b = 24.5
c = "Knock Knock"
d = "Who's there?"
e = "Turnip"
f = "Turnip Who?"
g = "Turnip the volume, I love this song!"

In [2]:
print(type(a)) 
print(type(b)) 
print(type(c)) 
print(type(d)) 
print(type(e)) 
print(type(f)) 
print(type(g)) 

#or

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [3]:
var_list = [a,b,c,d,e,f,g]
for var in var_list:
    print(type(var))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

<b>2</b>: What is the ouput of a times b? And what is the variable type of the output?

In [4]:
print(a*b)
type(a*b)

367.5

float

<b>3</b>: Divide variable a by 2, what is the output type?

In [5]:
print(a/2)
type(a/2)

7.5

float

**3.1** What if you use the floor operator?

In [6]:
print(a//2)
type(a//2)

7

int

**4:** If you multiply b by 2, what is the output type?

In [7]:
print(b*2)
type(b*2)

49.0

float

5: Use the print function to print a sentence that concatenates c,d,e,f, and g. Don't forget to add a line break separator.

In [8]:
print(f"{c}\n{d}\n{e}\n{f}\n{g}") #or

Knock Knock
Who's there?
Turnip
Turnip Who?
Turnip the volume, I love this song!

In [9]:
print(c,d,e,f,g, sep= "\n")

Knock Knock
Who's there?
Turnip
Turnip Who?
Turnip the volume, I love this song!

6: Consider the list X, declared below. What is the lenght of X? Print the 5th and 9th element of the list.

X = [2, 1, 21, 13, 233, 144, 0, 3, 8, 5, 89, 34, 1, 55]

In [10]:
X = [2, 1, 21, 13, 233, 144, 0, 3, 8, 5, 89, 34, 1, 55]
len(X)

14

In [11]:
X[4],X[8]

(233, 8)

<b>7</b>: List X hides a surprise. It seems that it was randomly shuffled before the class. Can you sort the list contents in ascending order? Make sure that X is sorted.

In [12]:
X.sort() #changing the same variable (in place operation)
X

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]

**7.1** Find an alternative way to solve the previous exercise.

In [13]:
sorted(X) #new variable

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233]

<b>8</b>: Hahaha, it seems that X stores the first 14 values (when starting from 0) of the Fibonacci sequence. Can you guess what are the next two values in the sequence?

In [14]:
X.append(X[-1]+X[-2]) #377
X.append(X[-1]+X[-2]) #610

<b>9</b>: Append to the end of X the following two values of the Fibonacci sequence.
Afterwards print the List and confirm that the values have been added successfuly.

***Note: you should be able to do this only calling X and its elements by the index.***

In [15]:
X

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

<b>10</b>: Now, suppose you show the sequence to your Math professor, who is a really opinionated and a believer that 0 should not be the first value of the sequence. He instructs you to remove it. Can you delete the value 0 from the list X? Show that you have successfuly removed the element 0.

In [16]:
X.remove(X[0]) #or removed(x[0])
X

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610]

<b>11</b>: Typecast the List X into a Tuple, and store the output in variable Y.

In [17]:
Y = tuple(X)
Y

(1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610)

<b>12</b>: What is the lenght of Y?

In [18]:
len(Y)

15

<b>13</b>: Typecaste the List X into a Set. What is the size of the resulting Set?

In [19]:
a//2

7

**13.1** Why is the size of the set different from the size of the list and the tuple?

In [20]:
#Set's remove duplicates, while list and tuple do not!

<b>14</b>: Below you can find two variables declared: movies and actors. 

The variable movies stores a List with information about the movies a sequence of actors have played a role. That is, each entry is a List of movie titles in which a particular actor played a role. The actor is thus encoded in the index of the List movies.

The variable actors is a dictionary that provides a map between an actor name (key) and the corresponding index in the list movies (value). Thus, it provides a quick way to access the list movies using the name of the actor.

In [21]:
movies = [
    ['JFK', 'Sleepers', 'Mystic River', 'Diner', 'Tremors', 'Hollow Man', 'A Few Good Men', 'Apollo 13', 'X-Men: First Class', 'Footloose'],
    ['Marjorie Prime','A Perfect Day','The Spoils Before Dying','Spoils of Babylon','Portlandia','The Secret Life of Words','Anchorman: The Legend of Ron Burgundy','Code 46','Mystic River','Austin Powers: The Spy Who Shagged Me','I.Q','The Shawshank Redemption','Short Cuts','Top Gun'],
    ['Happy Feet 2','Happy Feet','Back To The Future 2','Lord Of The Rings : The fellowship of the ring','Lord Of The Rings : The two towers','Lord Of The Rings : Return Of The King','The Hobbit : The Battle Of Five Armies','The Hobbit : An Unexpected Journey ','Sin City','Spy Kids 3 : Game Over'],
    ['Back to the Future','Back to the Future Part II ','Back to the Future Part III','Casualties of War ','The Hard Way','The Frighteners','Doc Hollywood','Greedy ','Teen Wolf ','Bright Lights, Big City'],
    ['X-Men','The Lord of the Rings: The Fellowship of the Ring','The Lord of the Rings: The Two Towers','The Lord of the Rings: The Return of the King','Emile','X2','Eighteen','X-Men: The Last Stand','The Magic Roundabout','Flushed Away'],
    ['I Am Sam.','Sweet Home Alabama.','Trapped.','Hansel & Gretel.','Uptown Girls.','The Cat In The Hat.','Man On Fire.','Nine Lives.','Hide And Seek.','War Of The Worlds.'],
    ['Manhattan ','Ironweed','Out of Africa ','Silkwood','The French Lieutenants Woman','Julie & Julia','The Devil Wears Prada','The Iron Lady','Sophies Choice','Kramer vs. Kramer'],
    ['The Thirteenth Year','The Flintstones in Viva Rock Vegas','The Safety of ObjectsPanic Room','Cold Creek Manor','Catch That Kid','Speak','Undertow','Fierce People','Zathura A Space Adventure'],
    ['Cowboys & Aliens','Paranoia','Ender Game','Anchorman 2: The Legend Continues','The Expendables 3','The Age of Adaline','Star Wars: Episode VII - The Force Awakens','Blade Runner 2049','Star Wars: Episode IX - The Rise of Skywalker','The Call of the Wild'],
    ['Harry Potter and the Philosophers Stone','Harry Potter and the Chamber of Secrets','Thunderpants','Harry Potter and the Prisoner of Azkaban','Harry Potter and the Goblet of Fire','Driving Lessons','Harry Potter and the Order of the Phoenix','Harry Potter and the Half-Blood Prince','Cherrybomb','Wild Target'],
]
actors = dict((
    ('Kevin Bacon',1),
    ('Tim Robbins',2),
    ('Elijah Wood',3),
    ('Michael J. Fox',4),
    ('Ian McKellen',5),
    ('Dakota Fannings',6),
    ('Maryl Streep',7),
    ('Kristen Stewart',8),
    ('Harrison Ford',9),
    ('Rupert Grint',10)
))

**14.1** Can you list all the actors names in the dictionary actors?

In [37]:
actors.keys()

dict_keys(['Kevin Bacon', 'Tim Robbins', 'Elijah Wood', 'Michael J. Fox', 'Ian McKellen', 'Dakota Fannings', 'Maryl Streep', 'Kristen Stewart', 'Harrison Ford', 'Rupert Grint'])

**14.2** Compare the lenght of the List movies with the maximum and minimum index value associated with an actor name. What do you conclude?

In [28]:
print(len(movies))
max_index = max(actors.values())
print(max_index)
min_index = min(actors.values())
print(min_index)

10
10
1

**14.3** Print the names of the movies in which Kevin Bacon played a role.

In [39]:
movies[actors['Kevin Bacon']-1]

['JFK',
 'Sleepers',
 'Mystic River',
 'Diner',
 'Tremors',
 'Hollow Man',
 'A Few Good Men',
 'Apollo 13',
 'X-Men: First Class',
 'Footloose']

**14.4** Can you identify in which movies have "Kevin Bacon" and "Tim Robbins" co-starred? <br>

***Tip: Using Sets is quite handy for this task.***

In [48]:
set (movies[actors['Kevin Bacon']-1]).intersection(set (movies[actors['Tim Robbins']-1]))
#or
movies[actors['Kevin Bacon']-1] #movies with Kevin Bacon
movies[actors['Tim Robbins']-1] #movies with Tim Robbins

set (movies[actors['Kevin Bacon']-1]).intersection(set (movies[actors['Tim Robbins']-1])) #coverting both into a set while interception them

{'Mystic River'}

<b>15</b>: In the Lecture we have discussed how data sctructures might be mutable or immutable depending on if they allow for the user to change individual elements they store. Can you demonstrate, by example, if each of the following data structures -- Tuples, Lists, Dictionaries, and Sets -- are mutable or not?

***Tip: To show that it is immutable, you just need to show that you can't change a value. Likewise, to show that it is mutable, you only need to show that you can indeed change a value.***

In [58]:
#Tuples
a = (1,2,3)
#a[0] = 9 give us an error, so it is immutable

#Lists
b = [1,2,3]
b[0] = 10
print(b) #all nice, mutable

#Dictionaries
c = {1:"first",2:"second",3:"third"}
c[1] = "fourth"
print(c) #all nice, mutable

#Sets
d = {1,2,3,4}
#d[0] = 12 #give us an error, so it is immutable

[10, 2, 3]
{1: 'fourth', 2: 'second', 3: 'third'}

### Flow Control

<b>16</b>: Write a program that, for an arbitrary choice of X and Y (with Y > X), prints all the even numbers in the range [X,Y].

In [50]:
# Example values for X and Y
X = 1
Y = 15

In [52]:
for w in range(X,Y):
    if w % 2 == 0:
        print(w)

2
4
6
8
10
12
14

<b>17</b>: Consider the tuples X and Y that are declared below. Write a program that creates a list with the indexes of the two lists that correspond to matching values. *NOTE*: The expected output is [1, 2].

In [61]:
X = (1,2,3,4,5,6,7) 

Y = (7,2,3,10,2,8,9)

In [66]:
#use a for loop to iterate over the indexes of each value
#use a condition to check if the value in that index are the same in both tuples
#if they match, append the index to a list that will have the final result

matching_indexes = []

for i in range(len(X)):
    if X[i] == Y[i]:
        matching_indexes.append(i)

print(matching_indexes)

[1, 2]

<b>17.b</b>: Can you use a comprehension list?

In [69]:
matches = [i for i in range(len(X)) if X[i]==Y[i]]
matches

[1, 2]

<b>18</b>: Write a computer program that turns X into a list and computes the average of the values stored in list X

In [71]:
average = sum(list(X))/len(list(X))
print(average)

4.0

<b>19</b>: Create a list Z, with all the numbers from 10 to 20

In [76]:
z = list(range(10,21))
print(z)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

<b>20</b>: Using a comprehension list, print only the odd numbers

In [107]:
odd_numbers = [x for x in z if x % 2 != 0]
odd_numbers

[11, 13, 15, 17, 19]

<b>21</b>: Create a new list (called modded_odds) which contains all the numbers obtained in the previous exercise, multiplied by 10

In [108]:
modded_odds = [num*10 for num in odd_numbers]
modded_odds

[110, 130, 150, 170, 190]

<b>22</b>: Change modded_odds so that all the numbers above 160 are divided by 2 and all the numbers smaller or equal to 160 are divided by 3

In [109]:
new_list = []
for n in modded_odds:
    if n > 160:
        new_list.append(n/2)
    else:
        new_list.append(n/3)
new_list

[36.666666666666664, 43.333333333333336, 50.0, 85.0, 95.0]

<b>23</b>: Change modded_odds so that all values that are divisible by 5 are multiplied by 2 and all the values that aren't are dropped

In [ ]:
#FAZER

<b>24</b>: Consider the list words, below. Create a new list called new_words which contains only the words that start with the letter A.

In [101]:
words = ["AFK", "Joystick" ,"Achievement", "Controller" ,"Arcade", "Assist", "Frag", "Support"]

In [102]:
new_words = [x for x in words if x[0].upper() == "A"]
new_words

['AFK', 'Achievement', 'Arcade', 'Assist']

<b>25</b>: Create two lists, one called small and the other big. Small should have all the words that have 4 or less letters while big should have all the words that have 5 or more letters

In [ ]:
#FAZER

## Python STL

<b>26</b>: Use the OS module to list all the files in your current working folder

In [ ]:
# Part 1. we start by loading the OS module
import os

# and then we can call the method listdir() to print the files in y our working folder
print("files in working directory: ",os.listdir())

#additionally using the sys we can check which paths is your python using to load modules
import sys
print("paths: ",sys.path)

In [ ]:
# alternatively we can use magic commands like follow 
%ls

<b>27</b>: Use the Random module to create a list of length 100 with random floats (between 0 an 1)

In [ ]:
#We start by loading the random module 
import random

<b>28</b>:  Use the Math module to multiply each of the random numbers by 2 Pi

In [ ]:
#We start by loading the module math (also for Part 4.) 
import math

## Additional Exercises

<b>Question</b>: With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.

Suppose the following input is supplied to the program: 8 <br>
Then, the output should be:
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

<b>Question</b>: Write a program that accepts a comma separated sequence of words as input and prints the words in a comma-separated sequence after sorting them alphabetically.

Suppose the following input is supplied to the program: without,hello,bag,world <br>
Then, the output should be: bag,hello,without,world

In [ ]:
string_input = 'without,hello,bag,world'

# write your code here:

<b>Question</b>: Write a program, which will find all such numbers between X and Y (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a comma-separated sequence on a single line.

Suppose the following input is supplied to the program: 10,50 <br>
Then, the output should be: 20,22,24,26,28,40,42,44,46,48